/* why choose services section */
.section-why-choose .why-choose-col {
  padding: 10px;
}
.why-choose-list-item {
  border-radius: 5px;
  padding: 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #fff;
  background: #0091fe;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  cursor: pointer;
  min-height: 180px;
}
.why-choose-list-item.change-bg{
  background: #1050bc;
}
.why-choose-list-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 0;
  padding: 20px 15px;
  visibility: visible;
}
.why-choose-list-item .paragraph {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  /* transition: .5s; */
  visibility: hidden;
  padding: 20px 15px;
  height: 100%;
}
.why-choose-list-item:hover .paragraph{
  visibility: visible;
}
.why-choose-list-item:hover .why-choose-list-div{
  visibility: hidden;
}
.why-choose-list-item .why-choose-icon {
  width: 50px;
}
.why-choose-list-item .heading4 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 1400px) {
  .section-why-choose.why-choose-section .why-choose-col{
    width: 20%;
  }
}