.seo-service-birmingham-banner{
    background: url('../../../../../public/assests/images/services/seo-service-birmingham/seo-service-birmingham.webp');
    background-size: cover;
    background-position: center;
}