.digital-marketing-bristol-banner{
    background: url('../../../../../public/assests/images/services/digital-marketing/digital-marketing-bristol/digital-bristol.webp');
    background-size: cover;
    background-position: center;
}