.footer_contact_section {
    background: linear-gradient(254.09deg, #0D0F38 15.15%, #093142 83.93%);
    color: var(--color-white);
}
.footer_contact_flex {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.footer_contact_flex .footer_contact_cols {
    flex: 1;
}
.footer_contact_cols.footer_left_col {
    display: flex;
    gap: 3rem;
    flex-direction: column;
}
.footer_contact_cols .presence_lists {
    padding: 0;
    margin: 10px 0 30px;
    display: flex;
    gap: 20px;
    list-style: none;
}
.footer_contact_cols .presence_lists .presence_image {
    width: 58px;
    height: 58px;
}
.footer_contact_cols .heading_main {
    font-size: 45px;
    line-height: 1.2;
}
.footer_contact_cols .footer_contact_lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px 0 0;
    align-items: start;
}
.footer_contact_lists .footer_contact_item {
    color: var(--color-white);
    text-decoration: unset;
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer_contact_lists .footer_contact_item svg {
    width: 30px;
    font-size: 30px;
}
.footer_contact_lists .footer_contact_item .footer_contact_text {
    font-size: 20px;
    margin: 0;
    font-family: var(--font-poppins-semibold);
}
.footer_left_contents.mobile_block {
    display: none;
}
@media (max-width: 1199px) {
    .footer_contact_flex {
        gap: 2rem;
    }
    .footer_contact_cols.footer_left_col {
        gap: 1rem;
    }
    
}
@media (max-width: 991px) {
    .footer_contact_flex {
        flex-direction: column;
        gap: 3rem;
    }
    .footer_left_contents.mobile_block {
        display: block;
        margin-top: 40px;
    }
    .footer_left_contents.desktop_block {
        display: none;
    }
}