/* SEO Page speed optimization banner */
.seo-page-speed-optimization-banner{
    background: url('../../../../public/assests/images/services/seo-page-speed-optimization/seo-page-speed-optimization.webp');
    background-size: cover;
    background-position: center;
}