.seo-service-peterborough-banner{
    background: url('../../../../../public/assests/images/services/seo-service-peterborough/seo-service-peterborough.webp');
    background-size: cover;
    background-position: center;
}

.guideline-section .why-choose-icon {
    width: 80px;
}