.services_powering_section {
    background-color: var(--color-white);
    margin-top: 6rem;
    border-radius: 10px;
    padding: 3rem 1rem;
    text-align: center;
    margin-bottom: -182px;
}
.services_powering_section .heading_main {
    color: var(--color-blackblue);
    margin-bottom: 4rem;
}
.services_powering_item {
    text-align: center;
    padding: 0 15px;
}
.services_powering_item .services_powering_image {
    max-height: 65px;
    margin: auto;
    width: 100%;
    object-fit: contain;
}
.services_powering_section .btn-gradient-blue {
    margin-top: 3rem;
}
@media (max-width: 767px) {
    .services_powering_section .heading_main {
        margin-bottom: 3rem;
    }
    .services_powering_section {
        margin-top: 4rem;
    }
}