/* English Copywriting and Proofreading banner */
.english-copywriting-proofreading-banner{
    background: url('../../../../public/assests/images/services/english-copywriting-proofreading/english-copywriting-proofreading-banner.webp');
    background-size: cover;
    background-position: center;
}