/* Industries section */
.industries-ai-section .specification-block {
    padding: 30px 0;
    text-align: center;
}
.industries-ai-section .specification-block figure {
    border-radius: 10px;
    display: flex;
    height: 45px;
    justify-content: center;
    margin: 0 auto 10px;
    width: 45px;
    background: #1050bc;
}
.industries-ai-section .specification-block figure img {
    object-fit: none;
}
.industries-ai-section .specification-block-link {
    color: inherit;
    text-decoration: none;
}
.industries-ai-section .specification-block-link:hover figure img {
    transform: scale(1.1);
}
.industries-ai-section .mt-5.row {
    padding: 0 12px;
}
.industries-ai-section .industries-ai-col{
    position: relative;
}
.industries-ai-section .industries-ai-col:not(:nth-child(4n+1)):before {
    background: #707070;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
.industries-ai-section .industries-ai-col:not(:nth-child(-n+4)):after {
    background: #707070;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (max-width: 991px) {
    .industries-ai-section .industries-ai-col:not(:nth-child(4n+1)):before{
        display: none;
    }
    .industries-ai-section .industries-ai-col:not(:nth-child(3n+1)):before {
        background: #707070;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
        display: block;
    }
    .industries-ai-section .industries-ai-col:not(:nth-child(-n+3)):after {
        background: #707070;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
}
@media (max-width: 767px) {
    .industries-ai-section .industries-ai-col:not(:nth-child(3n+1)):before{
        display: none;
    }
    .industries-ai-section .industries-ai-col:not(:nth-child(2n+1)):before {
        background: #707070;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 1px;
        display: block;
    }
    .industries-ai-section .industries-ai-col:not(:nth-child(-n+2)):after {
        background: #707070;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    
}
@media (max-width: 480px) {
    .industries-ai-section .specification-block .heading4 {
        font-size: 1rem;
    }
    .industries-ai-section .specification-block{
        padding: 20px 0;
    }
}
/* Tools AI Industries */
.tools-ai-industries .tools-icon-panel {
    max-width: 70%;
    margin: auto;
}
.tools-ai-industries .tools-icon-panel .tools-icon-grid {
    flex: 0;
}
@media (max-width: 1199px) {
    .tools-ai-industries .tools-icon-panel {
        max-width: 100%;
    }
}