.industries_transform_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.industries_transform_grid .industries_transform_item {
    background: linear-gradient(90deg, #262525 0%, #262525 100%) padding-box,
              linear-gradient(180deg, #9900FF 0%, #008CFF 100%) border-box;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 280px;
    width: 100%;
    display: block;
}
.industries_transform_item .industries_transform_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.industries_transform_item .industries_transform_contents {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #26252599;
    backdrop-filter: blur(14px);
    color: var(--color-white);
}
.industries_transform_item:hover .industries_transform_contents {
    background: linear-gradient(90deg, rgba(0, 17, 255, 0.41) 0%, rgba(166, 0, 255, 0.41) 100%);
}
.industries_transform_contents .industries_transform_left {
    flex: 1;
}
.industries_transform_contents .industries_transform_title {
    font-size: 20px;
    margin: 0;
    line-height: 1.2;
    font-family: var(--font-poppins-semibold);
}
.industries_transform_contents .industries_transform_text {
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
}
.industries_transform_contents .industries_transform_arrow {
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A9A9A9;
    border-radius: 50%;
}
.industries_transform_item:hover .industries_transform_contents .industries_transform_arrow {
    background: linear-gradient(90deg, #004EFF 0%, #5500FF 100%);
}
.industries_transform_arrow svg {
    font-size: 20px;
}
@media (max-width: 1399px) {
    .industries_transform_grid .industries_transform_item {
        height: 250px;
    }
}
@media (max-width: 1199px) {
    .industries_transform_grid {
        gap: 20px;
    }
    .industries_transform_contents .industries_transform_title {
        font-size: 18px;
    }
    .industries_transform_contents .industries_transform_text {
        font-size: 16px;
    }
    .industries_transform_grid .industries_transform_item {
        height: 240px;
    }
}
@media (max-width: 991px) {
    .industries_transform_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .industries_transform_grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .industries_transform_item {
        max-width: 380px;
        margin: auto;
    }
}
@media (max-width: 525px) {
    .industries_transform_item .industries_transform_contents {
        padding: 15px;
    }
}
@media (max-width: 375px) {
    .industries_transform_grid .industries_transform_item {
        height: 200px;
    }
}